/* Icons found at http://www.iconhot.com/icon/brush-intense-messenger/messenger-3.html */
.container {
    background-color: #e8efee;
    max-width: 600px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
}
h1 {
    font-size: 1.2rem;
}
h1>span {
    margin-right: 5px;
}
#messages {
     height: 250px;
     overflow: scroll;
     max-width: 380px;
     background-color: white;
}
#message-form {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 1rem;
}
.image {
    margin-top: 1rem;
}
.image>img {
    background-color: white;
    border: 10px solid white;
    border-radius: 10px;
    outline: 1px solid grey;
}
div#divider {
    height: 50px;
    width: 598px;
    transform: translateX(-10px);
    margin-bottom: 8px;
    background: linear-gradient(#fff, #ddd, #eee);
    border-bottom: 1px solid rgb(175, 175, 175);
    border-top: 1px solid rgb(175, 175, 175);
}